.gradle/
.idea/
build
out
.idea
*.iws
*.iml
*.ipr
/out/
/data/**/*.json
target/
/**/reportportal.properties
/**/environment.properties
/**/.DS_Store
/reportportal.lock
/reportportal.sync
gradle.properties
local.properties
